ul {
    list-style:none;
    margin:0;
    padding:0;
}

/* Nivel 1 */
ul.dropdown {
    position:relative;
    z-index:9000;
}
ul.dropdown li {
    font-weight:bold;
    float:left;
}
ul.dropdown a {
    font-size:12px;
    text-decoration:none;
    font-weight:bold;
    background-image: url('../img/mn_boton_sub_tmp.png');
    height:18px;
}
ul.dropdown a:hover {
    background-image: url('../img/mn_boton_sub_tmp_2.png');
}
ul.dropdown li a {
    color:#791E1E;
    display:block;
    padding:4px 15px;
}
/* no funciona en IE */
ul.dropdown li:last-child a {
    border-right:none;
}
ul.dropdown li.hover, ul.dropdown li:hover {
    position:relative;
}
ul.dropdown li.hover a {
    color:#791E1E;
}

/* Nivel 2 */
ul.dropdown ul {
    width:150px;
    visibility:hidden;
    position:absolute;
    top:100%;
    left:0;
}
ul.dropdown ul li {
    font-weight:normal;
    height:26px;
    border-bottom:1px solid #ccc;
    float:none;
}

/* Nivel 3 */
ul.dropdown ul ul {
    left:100%;
    top:0;
}
ul.dropdown li:hover > ul {
    visibility:visible;
}

/* IE 6 & 7 inline-block */
ul.dropdown ul li a {
    border-right:none;
    width:100%;
    display:inline-block;
}
/* ie.css */
ul.dropdown ul li {
    display:inline;
    width:100%;
}

/* MENU MOVIL */

.menu_m_1_menu{
    width: 100%;
    text-align: center;
    background-color: #980707;
    color: #FFF;
    padding: 12px;
    font-size: 15px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}
.menu_m_1_link{
    width: 100%;
    text-align: center;
    background-color: #980707;
    padding: 10px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}
.menu_m_1_link a{
    color: #FFF;
    font-size: 15px;
}
.menu_m_1_link a:hover{
    font-size: 16px;
    text-decoration: none;
}

.menu_m_2_menu{
    width: 100%;
    text-align: center;
    background-color: #A31010;
    color: #FFF;
    padding: 12px;
    font-size: 15px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}
.menu_m_2_link{
    width: 100%;
    text-align: center;
    background-color: #A31010;
    padding: 10px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}
.menu_m_2_link a{
    color: #FFF;
    font-size: 15px;
}
.menu_m_2_link a:hover{
    font-size: 16px;
    text-decoration: none;
}

.menu_m_3_menu{
    width: 100%;
    text-align: center;
    background-color: #B81414;
    color: #FFF;
    padding: 12px;
    font-size: 15px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}
.menu_m_3_link{
    width: 100%;
    text-align: center;
    background-color: #B81414;
    padding: 10px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}
.menu_m_3_link a{
    color: #FFF;
    font-size: 15px;
}
.menu_m_3_link a:hover{
    font-size: 16px;
    text-decoration: none;
}

.menu_m_4_menu{
    width: 100%;
    text-align: center;
    background-color: #C31717;
    color: #FFF;
    padding: 12px;
    font-size: 15px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}
.menu_m_4_link{
    width: 100%;
    text-align: center;
    background-color: #C31717;
    padding: 10px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}
.menu_m_4_link a{
    color: #FFF;
    font-size: 15px;
}
.menu_m_4_link a:hover{
    font-size: 16px;
    text-decoration: none;
}


